.nav-container
{
    max-width: 300rem;
    /* padding: 4.2rem 2.4rem; */
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
}
ul
{
    display: flex;
    gap:5.2rem;
    justify-content: flex-end;
    margin: 10px 30px ;
    
}

header{
    display: flex;
}




.logo-brand
{
margin-top: 10px    
}



.logo-brand{
    margin-top: 15px;
}